* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cec27b;
}

.header-container {
  background-color: #cec27b;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: black;
}

nav a {
  color: #0a0909;
  text-decoration: none;
  margin-right: 15px;
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

body {
  font-family: Arial, sans-serif;
}

.gallery {
  text-align: center;
  padding: 50px 20px;
  background-color: #504f4f;
}

.gallery h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
}

.team {
  text-align: center;
  padding: 50px 20px;
  background-color: #504f4f;
}

.team h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.team-member img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 15px;
}

.pet-selector-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.pet-selector {
  text-align: center;
  flex: 1;
  max-width: 200px;
  padding: 10px;
}

.img-wrap img {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 5px;
  margin: 0 auto;
}

.pet-type {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.pet-selector p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.pet-selector .description-text {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}
.toggleDetails {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.toggleDetails:hover {
  letter-spacing: 6px;
}
.team h2 {
  display: inline-block;
  width: auto;
}

footer {
  text-align: center;
  padding: 50px 20px;

  color: #0d0d0d;
}
